#include <winver.h>
VS_VERSION_INFO VERSIONINFO
FILEVERSION 3, 0, 0, 1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004B0"
        {
            VALUE "CompanyName", "Aetopia"
            VALUE "ProductVersion", "3.0.0.1"
            VALUE "ProductName", "Touhou Borderless Patch"
            VALUE "FileDescription", "Touhou Borderless Patch"
            VALUE "LegalCopyright", "https://github.com/Aetopia/thbp"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0, 1200
    }
}